@model BasketViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sepet</h5>
                @if (Model != null && Model.BasketItems.Any())
                {
                    <table class="table table-striped">
                        <tr>
                            <th>Kurs İsim</th>
                            <th>Kurs Fiyat</th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.BasketItems)
                        {
                            <tr>
                                <td>@item.CourseName</td>
                                <td>
                                    @item.GetCurrentPrice TL @(Model.HasDiscount?$"(%{Model.DiscountRate.Value} uygulandı)":"")
                                </td>
                                <td>
                                    <a asp-controller="Basket" asp-action="RemoveBasketItem"
                                       asp-route-courseId="@item.CourseId">Sil</a>
                                </td>
                            </tr>
                        }

                        @if (Model.HasDiscount)
                        {
                            <tr>
                                <td>İndirim Oranı</td>
                                <th colspan="2">% @Model.DiscountRate.Value</th>
                            </tr>
                        }
                        <tr>
                            <td>@(Model.HasDiscount ? "İndirim fiyat" : "Toplam fiyat")</td>
                            <th colspan="2">@Model.TotalPrice TL</th>
                        </tr>
                    </table>

                    <form asp-controller="Basket" asp-action="ApplyDiscount">
                        @if (Model.HasDiscount)
                        {
                            <div class="alert alert-success">
                                "@Model.DiscountCode"İndirim kodu uygulandı
                                <a asp-controller="Basket" asp-action="CancelApplyDiscount">İndirim İptal Et</a>
                            </div>
                        }

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="DiscountApplyInput.Code" />
                            <button class="btn btn-outline-secondary" type="submit">Uygula</button>
                        </div>
                        @if (TempData["discountStatus"] != null && (bool)TempData["discountStatus"] == false)
                        {
                            <div class="alert alert-danger">İndirim kodu geçersiz</div>
                        }
                        @if (TempData["discountErrors"] != null)
                        {
                            <div class="text-danger">@TempData["discountErrors"]</div>
                        }
                    </form>

                    <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Ödeme Bilgileri</a>
                    <a class="btn btn-success" asp-controller="Home" asp-action="Index">Kursları incelemeye devam et</a>
                }
                else
                {
                    <div class="alert alert-info">Sepet boş</div>
                }
            </div>
        </div>
    </div>
</div>